body {
    margin: 0;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 700;
    font-size: 75px;

    margin-bottom: 30px;
}

.content {
    height: 100%;
    box-sizing: border-box;
    padding: 100px;

    font-family: "Raleway", "Helvetica", "Arial";
    color: #fdfdfd;
}

ul {
    list-style: none;
    padding-left: 3px;
    font-size: 30px;
}

ul ul {
    list-style: initial;
    padding-left: 30px;
    list-style-position: inside;
    font-size: 19px;
}

.subtitle {
    font-style: italic;
    font-size: 20px;
    vertical-align: middle;
}

.show-on-hover {
    opacity: 0;
}

li:hover > .show-on-hover {
    opacity: 1;
}

.hint {
    font-size: 12px;
}

.home-link {
    position: absolute;
    padding-left: 3px;
}

/* BACKGROUND*/
body:before {
    content: "";
    position: fixed;
    z-index: -1;

    height: 100%;
    width: 100%;

    background: no-repeat right top;
    background-size: auto 159%;
}

.teal {
    background-color: #9ef4d7;
    background: linear-gradient(to right, #6ae4d7 , #9ef4d7);
}
.teal:before {
    background-image: url("/images/teal-blue-chill.png");
}

.blue {
    background-color: #7bbfd8;
}
.blue:before {
    background-image: url("/images/maroon-light-blue.png");
}

.red {
    background-color: #ff5d68;
}
.red:before {
    background-image: url("/images/blue-red-chill.png");
}

.pink {
    background-color: #fe9ea5;
    background: linear-gradient(to right, #ff5d68 , #fe9ea5);
}
.pink:before {
    background-image: url("/images/pink.png");
}

@media screen and (max-width: 785px) {
    body:before {
        background-position: left top;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }

    body:before {
        background-position: top;
    }
}

@media screen and (max-width: 470px) {
    .content {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 370px) {
    .content {
        padding-left: 20px;
        padding-right: 20px;
    }
}
