body {
    margin: 0;
}

body:before {
    content: "";
    position: absolute;
    z-index: -1;

    height: 100%;
    width: 100%;

    background: no-repeat right top;
    background-size: auto 159%;
}

.teal {
    background-color: #9ef4d7;
}
.teal:before {
    background-image: url("/images/teal-blue-chill.png");
}

.blue {
    background-color: #7bbfd8;
}
.blue:before {
    background-image: url("/images/maroon-light-blue.png");
}

.red {
    background-color: #ff5d68;
}
.red:before {
    background-image: url("/images/blue-red-chill.png");
}
